.container {
  position: absolute;
  top: 49px;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav-item {
    height: 80px;
    font-size: 20px;
  }

  .sidenav-item:focus {
    color: #3f51b5;
    height: 80px;
    font-size: 20px;
  }

  .sidenav-icon {
    margin-left: 10px;
    margin-right: 25px;
  }

  .side-menu {
    width: 260px;
  }
}
