<mat-sidenav-container class="container">
  <mat-sidenav mode="side" class="side-menu" opened>
    <mat-nav-list>
      <div mat-subheader>Billing and payments</div>
      <a
        mat-list-item
        class="sidenav-item"
        routerLink="cards"
        [queryParams]="{ id: uid }"
      >
        <mat-icon class="sidenav-icon">credit_card</mat-icon>
        Cards
      </a>
      <a
        mat-list-item
        class="sidenav-item"
        routerLink="payments-history"
        [queryParams]="{ id: uid }"
      >
        <mat-icon class="sidenav-icon">history</mat-icon>
        History
      </a>
      <mat-divider></mat-divider>
      <ng-container
        *ngIf="
          connectedAccountId$ | async as connectedAccount;
          else noConnectedAccount
        "
      >
        <a
          class="sidenav-item"
          target="_blank"
          [href]="connectedAccountPortal"
          mat-list-item
          *ngIf="connectedAccountPortal"
        >
          <mat-icon class="sidenav-icon">account_box</mat-icon>
          Sales portal
          <span>
            <mat-icon inline class="sidenav-icon">open_in_new</mat-icon>
          </span>
        </a>
        <mat-list-item class="sidenav-item" routerLink="/invoices">
          <mat-icon class="sidenav-icon">receipt</mat-icon>
          Sales history
        </mat-list-item>
        <mat-list-item class="sidenav-item">
          <mat-icon class="sidenav-icon">account_balance</mat-icon>
          Withdraw sales
        </mat-list-item>
        <mat-list-item class="sidenav-item">
          <mat-icon class="sidenav-icon">person_remove</mat-icon>
          Delete sales account
        </mat-list-item>
      </ng-container>
      <ng-template #noConnectedAccount>
        <mat-list-item
          class="sidenav-item"
          (click)="createStripeConnectedAccount()"
        >
          <mat-icon class="sidenav-icon">person_add</mat-icon>
          Create sales account
        </mat-list-item>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
