<div class="container">
  <table mat-table [dataSource]="eventsWithGroupNames">
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let eventWithGroupName">
        {{ eventWithGroupName.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let eventWithGroupName">
        {{ eventWithGroupName.date | date: 'yyyy/MM/dd' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let eventWithGroupName">
        {{ eventWithGroupName.location }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let eventWithGroupName">
        <a
          routerLink="/group-details"
          [queryParams]="{ id: eventWithGroupName.groupid }"
          >{{ eventWithGroupName.groupName }}</a
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let eventWithGroupName">
        {{ eventWithGroupName.price }} {{ eventWithGroupName.currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Details" end>
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let eventWithGroupName">
        <button
          mat-icon-button
          routerLink="/event-details"
          [queryParams]="{ id: eventWithGroupName.id }"
        >
          <mat-icon>launch</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<button mat-raised-button (click)="moreFunction()">Load more</button>
