<div *ngIf="existance">
  <div class="container">
    <div class="event-cards-container">
      <div class="event-cards">
        <div *ngFor="let event of events">
          <app-event-card
            [event]="event"
            (mouseenter)="givenEvent = event; mouseEnter()"
          ></app-event-card>
        </div>
      </div>
    </div>

    <div class="event-card-detail-container">
      <div class="event-card-detail">
        <div *ngIf="givenEvent">
          <h1>{{ givenEvent.title }}</h1>
          <h2>{{ givenEvent.description }}</h2>
          <div *ngIf="!givenEvent.private">
            <h2>Public event</h2>
          </div>
          <div *ngIf="givenEvent.private">
            <h2>Private event</h2>
          </div>
          <h2>{{ givenEvent.date.toDate() | date: 'yyyy/MM/dd' }}</h2>
          <h2>
            Happening at {{ givenEvent.time }} in {{ givenEvent.location }}
          </h2>
          <h2>
            Created by
            <span
              class="creater-name"
              [routerLink]="['/account']"
              [queryParams]="{ id: createrId }"
              >{{ createrName }}</span
            >
            in
            <span
              class="group-name"
              [routerLink]="['/group-details']"
              [queryParams]="{ id: givenEvent.groupid }"
              >{{ groupName }}
            </span>
          </h2>
          <h2>Price: {{ givenEvent.price }} {{ givenEvent.currency }}</h2>

          <h2>First {{ givenEvent.memberlimit }} people can attend</h2>

          <div *ngIf="ifAttendingMembers">
            <h2>Attending members</h2>
            <div *ngFor="let attendingmember of attendingMembers | async">
              <ul>
                <li
                  class="attendingMember-name"
                  routerLink="/account"
                  [queryParams]="{ id: attendingmember.searchId }"
                >
                  {{ attendingmember.displayName }}
                </li>
              </ul>
            </div>
          </div>

          <div *ngIf="!ifAttendingMembers">
            <h2>There is no attending member yet.</h2>
          </div>

          <div *ngIf="ifWaitingJoinningMembers">
            <h2>Waiting list</h2>
            <div
              *ngFor="
                let waitingJoinningMember of waitingJoinningMembers | async
              "
            >
              <ul>
                <li class="waitingJoinningMember">
                  <span
                    routerLink="/account"
                    [queryParams]="{ id: waitingJoinningMember.uid }"
                    >{{ waitingJoinningMember.displayName }}</span
                  >
                  <div *ngIf="ifAdmin">
                    <div *ngIf="givenEvent.price === 0">
                      <button
                        mat-icon-button
                        color="primary"
                        (click)="
                          waitingJoinningMemberToAttendingMember(
                            waitingJoinningMember.uid,
                            givenEvent.id
                          )
                        "
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        color="warn"
                        (click)="
                          removeWaitingJoinningMember(
                            waitingJoinningMember.uid,
                            givenEvent.id
                          )
                        "
                      >
                        <mat-icon>remove</mat-icon>
                      </button>
                    </div>

                    <div *ngIf="givenEvent.price !== 0">
                      <button
                        mat-icon-button
                        color="primary"
                        (click)="
                          joinWaitingPayingList(
                            waitingJoinningMember.uid,
                            givenEvent.id
                          )
                        "
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        color="warn"
                        (click)="
                          removeWaitingJoinningMember(
                            waitingJoinningMember.uid,
                            givenEvent.id
                          )
                        "
                      >
                        <mat-icon>remove</mat-icon>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div *ngIf="!ifWaitingJoinningMembers">
            <h2>There are no waiting users.</h2>
          </div>
        </div>

        <div *ngIf="!givenEvent">
          <h1>No event is selected.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="no-events-container" *ngIf="!existance">
  <img class="no-events-image" src="/assets/images/event.svg" />
  <h1>No events</h1>
  <h1 routerLink="/create-event">Create events</h1>
</div>
