<form
  class="search-field-container"
  (ngSubmit)="search(valueControl.value, searchOptions)"
>
  <mat-form-field class="search-field" appearance="outline">
    <mat-label>Search from your events</mat-label>

    <input
      matInput
      type="text"
      [formControl]="valueControl"
      autocomplete="off"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      autoActiveFirstOption
      (optionSelected)="search(valueControl.value, searchOptions)"
      #auto="matAutocomplete"
    >
      <mat-option *ngFor="let option of options" [value]="option.title">
        {{ option.title }}
      </mat-option>
    </mat-autocomplete>

    <button
      mat-button
      *ngIf="valueControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      type="button"
      (click)="clearSearch(); search(valueControl.value, searchOptions)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="container">
  <app-events-and-detail
    [events]="items"
    [existance]="searchableEvents?.length"
    (scrolls)="additionalSearch()"
  ></app-events-and-detail>
</div>
