.spinner-container {
  display: flex;
  width: 100%;
  height: calc(100% - 158.5px);
  align-items: center;
  justify-content: center;
}

.search-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 49px;
  border-bottom: solid 0.3px rgb(224, 224, 224);
}

.search-field {
  position: sticky;
  width: 50%;
  padding: 21.5px 0 0 0;
}

.container {
  display: flex;
  position: sticky;
  justify-content: center;
  height: calc(100% - 158.5px);
  top: 158.8px;
  bottom: 0;
}

.no-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 158.5px);
  &__image {
    height: 65%;
  }
  &__text {
    font-size: 32px;
  }
}
