<form
  class="search-field-container"
  (ngSubmit)="search(valueControl.value, searchOptions)"
>
  <mat-form-field class="search-field" appearance="outline">
    <mat-label>Search from your events</mat-label>

    <input
      matInput
      type="text"
      [formControl]="valueControl"
      autocomplete="off"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      autoActiveFirstOption
      (optionSelected)="search(valueControl.value, searchOptions)"
      #auto="matAutocomplete"
    >
      <mat-option *ngFor="let option of options" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>

    <button
      mat-button
      *ngIf="valueControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      type="button"
      (click)="clearSearch(); search(valueControl.value, searchOptions)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<div *ngIf="searchableGroups?.length">
  <div class="groups-container" *ngIf="items.length" #container>
    <div
      *ngFor="let item of items"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      [infiniteScrollContainer]="container"
      (scrolled)="additionalSearch()"
    >
      <app-group [group]="item"></app-group>
    </div>
  </div>

  <div *ngIf="!items.length">
    <h1>No result</h1>
  </div>
</div>

<div class="no-group-container" *ngIf="!searchableGroups?.length">
  <img class="no-group-image" src="/assets/images/smily.svg" />
  <p class="no-group-text">You do not belong to any groups.</p>
  <p class="no-group-text">
    <a routerLink="/search/groups">Search for groups</a> or
    <a routerLink="/create-group">create one</a>
  </p>
</div>
