.header-container {
  display: block;
  background-color: #fafafa;
  position: sticky;
  position: -webkit-sticky; // For macOS/iOS Safari */
  top: 0px; // Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.child-header-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-field {
  margin: 15px 0 0 0;
  width: 40%;
}

.add-button {
  position: absolute;
  box-shadow: none !important;
  left: 0;
  margin: 10px 0 0 10px;
}
