.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.checkbox {
  margin-right: 14px;
}

.header-container {
  display: block;
  background-color: #fafafa;
  position: sticky;
  position: -webkit-sticky; // For macOS/iOS Safari */
  top: 64px; // Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.child-header-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-field {
  margin: 15px 0 0 0;
  width: 40%;
}

.add-button {
  position: absolute;
  box-shadow: none !important;
  left: 0;
  margin: 10px 0 0 10px;
}

.nodata-container {
  text-align: center;
  margin-top: 230px;
}

.nodata-icon {
  font-size: 120px;
}

.event-cards-container-container {
  height: 100%;
  width: 65%;
  position: absolute;
  z-index: 1;
  top: 144.5px;
  left: 0;
}

.event-cards-container {
  width: 80%;
  margin: 40px auto 0 auto;
}

.event-card-details {
  background: grey;
  height: 100%;
  width: 35%;
  position: sticky;
  z-index: 1;
  top: 144.5px;
  overflow-x: hidden;
  left: 65%;
}
