.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.checkbox {
  margin-right: 14px;
}

.header-container {
  display: block;
  background-color: #fafafa;
  position: sticky;
  position: -webkit-sticky; // For macOS/iOS Safari */
  top: 64px; // Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.child-header-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: solid 0.3px rgb(224, 224, 224);
}

.search-field {
  margin: 15px 0 0 0;
  width: 40%;
}

.add-button {
  position: absolute;
  box-shadow: none !important;
  left: 0;
  margin: 10px 0 0 10px;
}

.calendar-button {
  position: absolute;
  box-shadow: none !important;
  left: 70px;
  margin: 10px 0 0 10px;
}

.container {
  position: relative;
  height: calc(100% - 145.5px);
}
