<div class="content-container">
  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-toolbar>
    <a routerLink="/group-details" [queryParams]="{ id: groupid }">
      {{ name }}
    </a>
    <div class="spacer"></div>
    <button mat-icon-button class="mat-menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="deleteChatRoom()">
        <mat-icon>delete_sweep</mat-icon>
        <span>Delete this chat room</span>
      </button>
      <button
        mat-menu-item
        routerLink="/chat/chat-room-members"
        [queryParams]="{ id: chatRoomId }"
      >
        <mat-icon>people</mat-icon>
        <span>View members</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div *ngIf="!loading">
    <div class="messages">
      <div *ngIf="messages?.length">
        <div
          *ngFor="let message of messages"
          class="message"
          [class.my-message]="message.ownerId === uid"
          [class.other-message]="message.ownerId !== uid"
        >
          <div class="message-content">
            <small class="sendAt">{{
              message.sentAt.toMillis() | date: 'MM/dd HH:mm:ss'
            }}</small>
            <p class="texts">{{ message.content }}</p>
            <img class="account-picture" src="{{ message.ownerPhotoURL }}" />
          </div>
        </div>
      </div>

      <div *ngIf="!messages?.length">
        <p class="no-message-text">No message is send yet.</p>
      </div>
    </div>

    <div class="message-field-container">
      <form [formGroup]="form" (ngSubmit)="send()">
        <mat-form-field class="message-field" appearance="standard">
          <input matInput type="text" formControlName="message" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            [disabled]="
              form.value.message === '' || form.value.message === null
            "
            (click)="send()"
          >
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
