<form class="update-form" [formGroup]="form">
  <img class="account-photo" src="{{ photoURL }}" />

  <mat-form-field class="image-selector" appearance="outline">
    <mat-label>Select an image</mat-label>
    <ngx-mat-file-input
      placeholder="Basic outline placeholder"
      (change)="fileChangeEvent($event)"
    ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>

  <div class="cropper-container" *ngIf="imageChangedEvent">
    <img class="selected-image" [src]="croppedImage" />

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      [roundCropper]="true"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>

  <div class="update-fields">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="displayName" type="text" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Search ID</mat-label>
      <input
        matInput
        formControlName="searchId"
        type="text"
        readonly="readonly"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="createNewSearchId()"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" type="text" />
      <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>
  </div>

  <div class="update-toggles">
    <mat-slide-toggle formControlName="covert">
      <ng-container *ngIf="form.value.covert">
        Covert
      </ng-container>
      <ng-container *ngIf="!form.value.covert">
        Overt
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle class="update-showGroup" formControlName="showGroups">
      <ng-container *ngIf="form.value.showGroups">
        Show my groups
      </ng-container>
      <ng-container *ngIf="!form.value.showGroups">
        Do not show my groups
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendingEvents"
      formControlName="showAttendingEvents"
    >
      <ng-container *ngIf="form.value.showAttendingEvents">
        Show my attending events
      </ng-container>
      <ng-container *ngIf="!form.value.showAttendingEvents">
        Do not show my attending events
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendedEvents"
      formControlName="showAttendedEvents"
    >
      <ng-container *ngIf="form.value.showAttendedEvents">
        Show my attended events
      </ng-container>
      <ng-container *ngIf="!form.value.showAttendedEvents">
        Do not show my attended events
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendedEvents"
      formControlName="showInvitedEvents"
    >
      <ng-container *ngIf="form.value.showInvitedEvents">
        Show my invited events
      </ng-container>
      <ng-container *ngIf="!form.value.showInvitedEvents">
        Do not show my invited events
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendedEvents"
      formControlName="showInvitedGroups"
    >
      <ng-container *ngIf="form.value.showInvitedGroups">
        Show my invited groups
      </ng-container>
      <ng-container *ngIf="!form.value.showInvitedGroups">
        Do not show my invited groups
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendedEvents"
      formControlName="showWaitingEvents"
    >
      <ng-container *ngIf="form.value.showWaitingEvents">
        Show my waiting events
      </ng-container>
      <ng-container *ngIf="!form.value.showWaitingEvents">
        Do not show my waiting events
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendedEvents"
      formControlName="showWaitingGroups"
    >
      <ng-container *ngIf="form.value.showWaitingGroups">
        Show my waiting groups
      </ng-container>
      <ng-container *ngIf="!form.value.showWaitingGroups">
        Do not show my waiting groups
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendedEvents"
      formControlName="showPayingEvents"
    >
      <ng-container *ngIf="form.value.showPayingEvents">
        Show my paying events
      </ng-container>
      <ng-container *ngIf="!form.value.showPayingEvents">
        Do not show my paying events
      </ng-container>
    </mat-slide-toggle>

    <mat-slide-toggle
      class="update-showAttendedEvents"
      formControlName="showPayingGroups"
    >
      <ng-container *ngIf="form.value.showPayingGroups">
        Show my paying groups
      </ng-container>
      <ng-container *ngIf="!form.value.showPayingGroups">
        Do not show my paying groups
      </ng-container>
    </mat-slide-toggle>
  </div>

  <button
    mat-raised-button
    class="update-button"
    color="primary"
    (click)="updateUser()"
  >
    Update
  </button>

  <div class="other-actions">
    <button
      mat-flat-button
      class="signout-button"
      color="warn"
      (click)="signOut()"
    >
      Sign out
    </button>
    <button mat-flat-button color="warn" (click)="deleteAccount()">
      Delete account
    </button>
  </div>
</form>
