<mat-toolbar>
  <mat-toolbar-row>
    <span class="service-name">Joiner</span>
    <span class="spacer"></span>
    <button mat-button class="detail-button">
      <span class="detail-button-text">About</span>
    </button>
    <button mat-button class="detail-button" routerLink="/pricing">
      <span class="detail-button-text">Pricing</span>
    </button>
    <button mat-button class="detail-button" routerLink="/tos">
      <span class="detail-button-text">Terms of service</span>
    </button>
    <button mat-button class="detail-button" routerLink="/legal">
      <span class="detail-button-text">特定商取引法に基づく表示</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <img class="welcome-image" src="/assets/images/staying.svg" />

  <div class="detail-container">
    <p class="message-text">Get your friends and share fun with them!!</p>

    <div class="signin-card">
      <div class="signin-container">
        <p class="signin-text">Signin with Google</p>
        <img
          alt="google-logo"
          class="google-logo"
          src="assets/images/google.png"
          (click)="auth.googleSignin()"
        />
      </div>
    </div>
  </div>
</div>
