mat-toolbar {
  position: fixed;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.service-name {
  font-size: 32px;
  color: #ff725d;
}

.detail-button {
  padding: 0 20px;
}

.detail-button-text {
  color: #ff725d;
}

.container {
  width: 100%;
  height: calc(100% - 64px);
  top: 64px;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.welcome-image {
  height: 100%;
  margin: 0 40px 0 0;
}

.detail-container {
  display: flex;
  flex-direction: column;
}

.message-text {
  font-size: 32px;
  margin: 200px 0 150px 0;
}

.signin-card {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.signin-text {
  margin: 0 0 20px 0;
  font-size: 32px;
}

.google-logo {
  height: 50px;
  width: 50px;
}
