<div class="container">
  <mat-toolbar class="mat-toolbar">
    <button
      class="edit-button"
      mat-icon-button
      color="primary"
      (click)="navigateBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div *ngIf="ifadmin">
      <a routerLink="/create-group" [queryParams]="{ id: id }">
        <button class="edit-button" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </a>
    </div>
  </mat-toolbar>

  <img class="group-picture" src="/assets/background/{{ grouppicture }}.jpg" />

  <div class="group-details-container">
    <h1 class="name">{{ name }}</h1>

    <h1>{{ description }}</h1>

    <div *ngIf="private">
      <h1>This is private group</h1>
    </div>
    <div *ngIf="!private">
      <h1>This is public group</h1>
    </div>

    <h1>
      Created by
      <span class="creater"
        ><a routerLink="/account" [queryParams]="{ id: createrId }">{{
          createrName
        }}</a></span
      >
      on
      {{ createddate | date: 'yyyy/MM/dd' }}
    </h1>

    <div *ngIf="price === 0">
      <h1>Price: {{ price }}</h1>
    </div>
    <div *ngIf="price !== 0">
      <h1>Price: {{ price }} {{ currency }}</h1>
    </div>

    <div *ngIf="ifAdmins">
      <h1>Admins</h1>
      <ul>
        <div *ngFor="let admin of admins">
          <li class="member-container">
            <h1
              class="member"
              [routerLink]="['/account']"
              [queryParams]="{ id: admin.uid }"
            >
              {{ admin.displayName }}
            </h1>
            <div *ngIf="ifadmin">
              <button mat-button color="warn" (click)="deleteAdmin(admin.uid)">
                Unauthorize
              </button>
            </div>
          </li>
        </div>
      </ul>
    </div>

    <div *ngIf="ifMembers">
      <h1>Members</h1>
      <ul>
        <div *ngFor="let member of members">
          <li class="member-container">
            <h1
              class="member"
              [routerLink]="['/account']"
              [queryParams]="{ id: member.uid }"
            >
              {{ member.displayName }}
            </h1>
            <div *ngIf="ifadmin">
              <button
                mat-button
                color="primary"
                (click)="makeAdmin(member.uid)"
              >
                Authorize as an admin
              </button>
              <button mat-button color="warn" (click)="leaveGroup(member.uid)">
                Kick out
              </button>
            </div>
          </li>
        </div>
      </ul>
    </div>

    <div *ngIf="!ifMembers">
      <h1>There is no members.</h1>
    </div>

    <div *ngIf="ifWaitingJoinningMembers">
      <h1>Waiting users</h1>
      <ul>
        <div *ngFor="let waitingMember of waitingJoinningMembers | async">
          <li class="waitingMember-container">
            <h1
              class="waitingMember"
              [routerLink]="['/account']"
              [queryParams]="{ id: waitingMember.uid }"
            >
              {{ waitingMember.displayName }}
            </h1>
            <div *ngIf="ifadmin">
              <!-- 無料グループの場合 -->
              <div class="waiting-buttons" *ngIf="price === 0">
                <div class="allow-button">
                  <button
                    mat-button
                    color="primary"
                    (click)="allowWaitingMember(waitingMember.uid)"
                  >
                    Allow
                  </button>
                </div>
                <div class="remove-button">
                  <button
                    mat-button
                    color="warn"
                    (click)="leaveWaitingList(waitingMember.uid)"
                  >
                    Remove
                  </button>
                </div>
              </div>
              <!-- 有料グループの場合 -->
              <div class="waiting-buttons" *ngIf="price !== 0">
                <div class="allow-button">
                  <button
                    mat-button
                    color="primary"
                    (click)="
                      waitingJoinningMemberToWaitingPayingMember(
                        waitingMember.uid
                      )
                    "
                  >
                    Allow
                  </button>
                </div>

                <div class="remove-button">
                  <button
                    mat-button
                    color="warn"
                    (click)="leaveWaitingList(waitingMember.uid)"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>

    <div *ngIf="!ifWaitingJoinningMembers">
      <h1>There is no waiting member.</h1>
    </div>

    <div class="buttons">
      <button mat-raised-button class="invite-button" color="primary">
        Invite people
      </button>

      <button
        mat-raised-button
        class="calendar-button"
        routerLink="/"
        color="primary"
      >
        Check events
      </button>

      <div *ngIf="ifmember">
        <div *ngIf="!ifChatRoom && ifadmin">
          <button
            mat-raised-button
            class="chat-button"
            (click)="createChatRoom()"
            color="primary"
          >
            Create chat room
          </button>
        </div>
        <div *ngIf="ifChatRoom">
          <button
            mat-raised-button
            class="chat-button"
            routerLink="/chat/chat-detail"
            [queryParams]="{ id: chatRoomId }"
            color="primary"
          >
            Go to chat room
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
