<div *ngIf="!group" class="container">
  <img
    class="no-group-image"
    src="/assets/images/404.svg"
    alt="group does not exist"
  />
</div>

<div class="container" *ngIf="group">
  <mat-toolbar class="container__toolbar">
    <button mat-icon-button color="primary" (click)="navigateBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div *ngIf="ifadmin">
      <a routerLink="/create-group" [queryParams]="{ id: id }">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </a>
    </div>
  </mat-toolbar>

  <img class="container__image" src="{{ group?.grouppicture }}" />

  <div class="content-container">
    <p class="content-container__name">{{ group?.name }}</p>

    <p class="content-container__description">{{ group?.description }}</p>

    <div *ngIf="group?.private">
      <p class="content-container__private-event">This is private group</p>
    </div>
    <div *ngIf="!group?.private">
      <p class="content-container__public-event">This is public group</p>
    </div>

    <p class="content-container__created">
      Created by
      <span routerLink="/account" [queryParams]="{ id: creater?.searchId }">
        {{ creater?.displayName }}
      </span>
      on
      {{ group?.createddate.toDate() | date: 'yyyy/MM/dd' }}
    </p>

    <div *ngIf="group?.price !== 0">
      <ng-container *ngIf="group?.subscription">
        <p class="content-container__price">
          Price: {{ group?.price }} {{ group?.currency }}/month
        </p>
      </ng-container>
      <ng-container *ngIf="!group?.subscription">
        <p class="content-container__price">
          Price: {{ group?.price }} {{ group?.currency }}
        </p>
      </ng-container>
    </div>

    <div class="content-container__admins" *ngIf="admins?.length">
      <p class="content-container__admins__title">Admins</p>
      <ul *ngFor="let admin of admins">
        <li>
          <div class="content-container__admins__content">
            <a
              class="content-container__admins__content__name"
              routerLink="/account"
              [queryParams]="{ id: admin.searchId }"
            >
              {{ admin.displayName }}
            </a>
            <button
              mat-stroked-button
              *ngIf="ifadmin && admin.uid === uid"
              color="warn"
              (click)="deleteAdmin(admin.uid)"
            >
              Unauthorize yourself
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="content-container__members" *ngIf="members?.length">
      <p class="content-container__members__title">Members</p>
      <ul *ngFor="let member of members">
        <li>
          <div class="content-container__members__content">
            <a
              class="content-container__members__content__name"
              routerLink="/account"
              [queryParams]="{ id: member.searchId }"
            >
              {{ member.displayName }}
            </a>
            <div
              class="content-container__members__content__buttons"
              *ngIf="
                ifadmin && member.uid !== uid && !adminIds.includes(member.uid)
              "
            >
              <button
                mat-stroked-button
                class="content-container__members__content__buttons__button"
                color="primary"
                (click)="makeAdmin(member.uid)"
              >
                Authorize as an admin
              </button>
              <button
                mat-stroked-button
                color="warn"
                (click)="leaveGroup(member.uid)"
              >
                Kick out
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ng-container *ngIf="!members?.length">
      <p class="content-container__members">There is no members.</p>
    </ng-container>

    <div
      class="content-container__waiting-users"
      *ngIf="(waitingJoinningMembers | async)?.length"
    >
      <p class="content-container__waiting-users__title">Waiting users</p>
      <ul *ngFor="let waitingMember of waitingJoinningMembers | async">
        <li>
          <div class="content-container__waiting-users__content">
            <a
              class="content-container__waiting-users__content__name"
              routerLink="/account"
              [queryParams]="{ searchId: waitingMember.searchId }"
            >
              {{ waitingMember.displayName }}
            </a>
            <div
              class="content-container__waiting-users__content__buttons"
              *ngIf="group?.price === 0 && ifadmin"
            >
              <button
                mat-stroked-button
                class="content-container__waiting-users__content__buttons__button"
                color="primary"
                (click)="allowWaitingMember(waitingMember.uid)"
              >
                Allow
              </button>
              <button
                mat-stroked-button
                color="warn"
                (click)="leaveWaitingList(waitingMember.uid)"
              >
                Remove
              </button>
            </div>
            <div
              class="content-container__waiting-users__content__buttons"
              *ngIf="group?.price !== 0 && ifadmin"
            >
              <button
                mat-stroked-button
                class="content-container__waiting-users__content__buttons__button"
                color="primary"
                (click)="
                  waitingJoinningMemberToWaitingPayingMember(waitingMember.uid)
                "
              >
                Allow
              </button>
              <button
                mat-stroked-button
                color="warn"
                (click)="leaveWaitingList(waitingMember.uid)"
              >
                Remove
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ng-container *ngIf="!(waitingJoinningMembers | async)?.length">
      <p class="content-container__no-waiting-users">
        There are no waiting members.
      </p>
    </ng-container>

    <div
      class="content-container__inviting-users"
      *ngIf="invitingUsers?.length"
    >
      <p class="content-container__inviting-users__title">Inviting users</p>
      <ul *ngFor="let invitingUser of invitingUsers">
        <li>
          <div class="content-container__inviting-users__content">
            <a
              class="content-container__inviting-users__content__name"
              routerLink="/account"
              [queryParams]="{ id: invitingUser.searchId }"
            >
              {{ invitingUser.displayName }}
            </a>
            <button mat-stroked-button (click)="uninvite(invitingUser.uid)">
              Remove
            </button>
          </div>
        </li>
      </ul>
    </div>

    <ng-container *ngIf="!invitingUsers?.length">
      <p class="content-container__no-inviting-users">
        There are no inviting users.
      </p>
    </ng-container>

    <div class="content-container__events">
      <table
        class="content-container__events__table"
        mat-table
        [dataSource]="events"
      >
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let event">
            {{ event.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let event">
            {{ event.date.toDate() | date: 'yyyy/MM/dd' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let event">
            {{ event.location }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let event">
            {{ event.price }} {{ event.currency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Details" end>
          <th mat-header-cell *matHeaderCellDef>Details</th>
          <td mat-cell *matCellDef="let event">
            <button
              mat-icon-button
              routerLink="/event-details"
              [queryParams]="{ id: event.id }"
            >
              <mat-icon>launch</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="content-container__buttons">
      <button
        mat-raised-button
        class="content-container__buttons__button"
        *ngIf="ifadmin"
        color="primary"
        (click)="openDialog()"
      >
        Invite people
      </button>
      <ng-container *ngIf="ifmember">
        <button
          mat-raised-button
          class="content-container__buttons__button"
          *ngIf="!group?.chatRoomId && ifadmin"
          (click)="createChatRoom()"
          color="primary"
        >
          Create chat room
        </button>
        <button
          mat-raised-button
          class="content-container__buttons__button"
          *ngIf="group?.chatRoomId"
          routerLink="/chat/chat-detail"
          [queryParams]="{ id: group?.chatRoomId }"
          color="primary"
        >
          Go to chat room
        </button>
      </ng-container>
    </div>
  </div>
</div>
