<div class="container">
  <mat-toolbar class="mat-toolbar">
    <button
      class="edit-button"
      mat-icon-button
      color="primary"
      (click)="navigateBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div *ngIf="ifadmin | async">
      <a routerLink="/create-group" [queryParams]="{ id: id }">
        <button class="edit-button" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </a>
    </div>
  </mat-toolbar>

  <img
    class="group-picture"
    src="/assets/background/{{ grouppicture | async }}.jpg"
  />

  <div class="group-details-container">
    <h1 class="name">{{ name }}</h1>

    <h1>{{ description | async }}</h1>

    <h1>
      Created by <span class="creater">{{ creater | async }}</span> on
      {{ createddate | date: 'yyyy/MM/dd' }}
    </h1>

    <div class="admins" *ngFor="let admin of admins | async">
      <h1>Admins</h1>
      <ul>
        <li>
          <h1 class="admin">{{ admin }}</h1>
        </li>
      </ul>
    </div>

    <div class="members" *ngFor="let member of members | async">
      <h1>Members</h1>
      <ul>
        <li>
          <h1 class="member">{{ member }}</h1>
        </li>
      </ul>
    </div>

    <div class="buttons">
      <button mat-raised-button class="invite-button" color="primary">
        Invite people
      </button>

      <button
        mat-raised-button
        class="calendar-button"
        routerLink="/"
        color="primary"
      >
        Check events
      </button>

      <div *ngIf="!ifChatRoom">
        <button
          mat-raised-button
          class="chat-button"
          (click)="createChatRoom()"
          color="primary"
        >
          Create chat room
        </button>
      </div>
      <div *ngIf="ifChatRoom">
        <button
          mat-raised-button
          class="chat-button"
          routerLink="/chat/chat-detail"
          [queryParams]="{ id: chatRoomId }"
          color="primary"
        >
          Go to chat room
        </button>
      </div>
    </div>
  </div>
</div>
