<div class="container">
  <h1>Create your group</h1>

  <form class="create-event-form" [formGroup] = "form" (ngSubmit)="submit()">
    <mat-form-field class="create-event-field" appearance="outline">
      <mat-label>What is the event title?</mat-label>
      <input matInput formControlName="title" type="text" required>
    </mat-form-field>

    <mat-form-field class="create-event-field" appearance="outline">
      <mat-label>Write event description</mat-label>
      <input matInput formControlName="description" type = "text">
    </mat-form-field>

    <mat-form-field class="create-event-field" appearance="outline">
      <mat-label>Is there a limit for number of members?</mat-label>
      <input matInput formControlName="memberlimit" type = "number">
    </mat-form-field>

    <mat-form-field class="create-event-field" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="create-event-field" appearance="outline">
      <mat-label>What time is it happening?</mat-label>
      <input matInput formControlName="time" type = "text" required>
    </mat-form-field>

    <mat-form-field class="create-event-field" appearance="outline">
      <mat-label>Where is it happening?</mat-label>
      <input matInput formControlName="location" type = "text" required>
    </mat-form-field>

    <button mat-raised-button class="create-button" (click)="openSnackBar()" [disabled]="form.invalid || form.pristine" color = "primary">Create!!</button>
  </form>
</div>
