.container {
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.create-event-form {
  width: 500px;
  height: 800px;
  margin: auto;
  text-align: center;
}

.create-event-field {
  display: block;
}

.create-button {
  margin-top: 30px;
}
