.groups-container {
  display: grid;
  margin: 50px;
  grid-auto-rows: 385px;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  grid-gap: 20px;
}

.create-group-grid-container {
  background-color: #3f51b5;
  border-radius: 10px;
  width: 100%;
  min-width: 385px;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.create-group-grid-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.create-group-grid {
  margin-top: 25%;
  text-align: center;
}

.protected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 388.5px);
  &__icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
  &__text {
    font-size: 32px;
  }
}
