<div class="groups-container" *ngIf="allowedToShow">
  <div class="create-group-grid-container">
    <div class="create-group-grid">
      <p>Create new group</p>
      <button mat-fab routerLink="/create-group" color="none">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div *ngFor="let invitedGroup of invitedGroups">
    <app-group [group]="invitedGroup"></app-group>
  </div>
</div>

<div class="protected-container" *ngIf="!allowedToShow">
  <mat-icon class="protected-container__icon">lock</mat-icon>
  <p class="protected-container__text">Protected</p>
</div>
