.spinner-container {
  display: flex;
  width: 100%;
  height: calc(100% - 388.5px);
  align-items: center;
  justify-content: center;
}

.groups-container {
  display: grid;
  margin: 50px;
  grid-template-columns: repeat(auto-fit, minmax(385px, 2fr));
  grid-gap: 20px;
}

.protected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 388.5px);
  &__icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
  &__text {
    font-size: 32px;
  }
}

.no-group-container {
  display: flex;
  width: 100%;
  height: calc(100% - 239px);
  &__left {
    display: flex;
    justify-content: center;
    height: calc(100% - 239px);
    width: 60%;
    position: absolute;
    top: 239px;
    left: 0;
    &__image {
      width: 100%;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: calc(100% - 239px);
    width: 40%;
    position: absolute;
    top: 239px;
    right: 0;
    &__text {
      font-size: 32px;
    }
  }
}
