<div class="event-card">
  <img class="group-picture" src="{{ event.grouppicture }}" />
  <div class="card-content">
    <h2>{{ event.title }}</h2>
    <p>Created by: {{ event.title }}</p>
    <p>Description: {{ event.desription }}</p>
    <div [ngSwitch]="attended">
      <button
        class="submit-button"
        *ngSwitchCase="false"
        mat-raised-button
        color="primary"
        (click)="switchStatus()"
      >
        ATTEND
      </button>
      <button
        class="submit-button"
        *ngSwitchCase="true"
        mat-raised-button
        color="warn"
        (click)="switchStatus()"
      >
        ATTENDED
      </button>
    </div>
  </div>
</div>
