.list-item {
  height: 100px;
}

.account-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.group-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

.joined {
  margin: 0 5px;
}

.on {
  margin: 0 5px;
}

.which-belongs-to {
  margin: 0 5px;
}

.got-invited-to {
  margin: 0 5px 0 0;
}
