<ng-container *ngIf="notification.type === 'joinGroup'">
  <mat-list-item class="list-item"
    ><img
      routerLink="/account"
      [queryParams]="{ id: personSearchId }"
      class="account-picture"
      src="{{ personPhotoURL }}"
    /><span routerLink="/account" [queryParams]="{ id: personSearchId }">{{
      personDisplayname
    }}</span
    ><span class="joined">joined</span>
    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />
    <span routerLink="/group-details" [queryParams]="{ id: groupId }">{{
      groupName
    }}</span
    ><span class="on">on</span>{{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="notification.type === 'joinGroupWaitinglist'">
  <mat-list-item class="list-item">
    <img
      routerLink="/account"
      [queryParams]="{ id: personSearchId }"
      class="account-picture"
      src="{{ personPhotoURL }}"
    />

    <span routerLink="/account" [queryParams]="{ id: personSearchId }">{{
      personDisplayname
    }}</span>

    <span class="joined">joined</span>

    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />

    <span routerLink="/group-details" [queryParams]="{ id: groupId }"
      >{{ groupName }}'s waiting list</span
    >

    <span class="on">on</span>

    {{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="notification.type === 'makeAdmin'">
  <mat-list-item class="list-item">
    <img
      routerLink="/account"
      [queryParams]="{ id: personSearchId }"
      class="account-picture"
      src="{{ personPhotoURL }}"
    />

    <span routerLink="/account" [queryParams]="{ id: personSearchId }">{{
      personDisplayname
    }}</span>

    <span class="joined">became an admin of </span>

    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />

    <span routerLink="/group-details" [queryParams]="{ id: groupId }">{{
      groupName
    }}</span>

    <span class="on">on</span>

    {{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="notification.type === 'makeEvent'">
  <mat-list-item class="list-item">
    <span>{{ eventName }}</span>

    <span class="joined"> is created </span>

    <span>in</span>

    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />

    <span routerLink="/group-details" [queryParams]="{ id: groupId }"
      >{{ groupName }}
    </span>

    <span class="on">on</span>

    {{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="notification.type === 'joinEvent'">
  <mat-list-item class="list-item">
    <img
      routerLink="/account"
      [queryParams]="{ id: personSearchId }"
      class="account-picture"
      src="{{ personPhotoURL }}"
    />

    <span routerLink="/account" [queryParams]="{ id: personSearchId }">{{
      personDisplayname
    }}</span>

    <span class="joined">attended</span>

    <span>{{ eventName }}</span>

    <span class="which-belongs-to"> which belongs to</span>

    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />

    <span routerLink="/group-details" [queryParams]="{ id: groupId }">{{
      groupName
    }}</span>

    <span class="on">on</span>

    {{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="notification.type === 'joinEventWaitinglist'">
  <mat-list-item class="list-item">
    <img
      routerLink="/account"
      [queryParams]="{ id: personSearchId }"
      class="account-picture"
      src="{{ personPhotoURL }}"
    />

    <span routerLink="/account" [queryParams]="{ id: personSearchId }">{{
      personDisplayname
    }}</span>

    <span class="joined">attended</span>

    <span>{{ eventName }}'s waiting list</span>

    <span class="which-belongs-to">which belongs to</span>

    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />

    <span routerLink="/group-details" [queryParams]="{ id: groupId }">{{
      groupName
    }}</span>

    <span class="on">on</span>

    {{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="notification.type === 'invitingUser'">
  <mat-list-item class="list-item">
    <img
      routerLink="/account"
      [queryParams]="{ id: personSearchId }"
      class="account-picture"
      src="{{ personPhotoURL }}"
    />

    <span routerLink="/account" [queryParams]="{ id: personSearchId }">{{
      personDisplayname
    }}</span>

    <span class="joined">is now in</span>

    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />

    <span
      ><span routerLink="/group-details" [queryParams]="{ id: groupId }">{{
        groupName
      }}</span
      >'s inviting list</span
    >

    <span class="on">on</span>

    {{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>

<ng-container *ngIf="notification.type === 'getInvitation'">
  <mat-list-item class="list-item">
    <span class="got-invited-to">Got invited to</span>

    <img
      routerLink="/group-details"
      [queryParams]="{ id: groupId }"
      class="group-picture"
      src="{{ groupPicture }}"
    />

    <span routerLink="/group-details" [queryParams]="{ id: groupId }">{{
      groupName
    }}</span>

    <span class="on">on</span>

    {{ date | date: 'yyy/MM/dd HH:mm' }}
  </mat-list-item>
</ng-container>
