<h1 mat-dialog-title>Invite by search ID</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Search ID</mat-label>
    <input matInput [(ngModel)]="data.searchId" [matAutocomplete]="auto" />

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <ng-container *ngFor="let option of options">
        <mat-option *ngIf="option.uid !== uid" [value]="option.searchId">
          {{ option.displayName }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="data.searchId"
    cdkFocusInitial
    color="primary"
  >
    Invite
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
