<form
  class="search-field-container"
  (ngSubmit)="search(valueControl.value, searchOptions)"
>
  <mat-form-field class="search-field" appearance="outline">
    <mat-label>Search from your events</mat-label>

    <input
      matInput
      type="text"
      [formControl]="valueControl"
      autocomplete="off"
    />

    <!-- <mat-autocomplete autoActiveFirstOption (optionSelected)="search(valueControl.value, searchOptions)" #auto="matAutocomplete">
      <mat-option *ngFor="let searchableGroup of searchableGroups" [value]="searchableGroup.name">
        {{searchableGroup.name}}
      </mat-option>
    </mat-autocomplete> -->

    <button
      mat-button
      *ngIf="valueControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      type="button"
      (click)="clearSearch(); search(valueControl.value, searchOptions)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
