.account-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0 25px 40px;
  position: sticky;
  top: 0;
}

.account-photo {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: 0 30px 0 0;
}

nav {
  position: sticky;
  top: 190px;
}
