<div class="account-header">
  <img class="account-photo" alt="account photo" src="{{ photoURL }}" />
  <div class="account-name-account-email">
    <h1 class="account-name">{{ displayName }}</h1>
    <h3 class="account-email">{{ email }}</h3>
  </div>
</div>
<div>
  <p class="account-description">{{ description }}</p>
</div>

<nav mat-tab-nav-bar>
  <div>
    <a
      mat-tab-link
      *ngFor="let routerLink of routerLinks"
      [routerLink]="routerLink.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [queryParams]="{ id: searchId }"
    >
      {{ routerLink.label }}
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
