.spinner-container {
  display: flex;
  width: 100%;
  height: calc(100% - 388.5px);
  align-items: center;
  justify-content: center;
}

.search-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 48px;
  border-bottom: solid 0.3px rgb(224, 224, 224);
}

.search-field {
  position: sticky;
  width: 50%;
  margin: 21.5px 0 0 0;
}

.container {
  position: relative;
  height: calc(100% - 388.5px);
}

.no-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 388.5px);
}

.no-events-image {
  height: 55%;
}

.protected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 388.5px);
  &__icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
  &__text {
    font-size: 32px;
  }
}
