<app-header></app-header>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" class="side-menu" opened>
    <mat-nav-list>
      <a mat-list-item class="sidenav-item" [routerLink]="''">
        <mat-icon class="sidenav-icon">home</mat-icon> Home
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="'/groups'">
        <mat-icon class="sidenav-icon">people</mat-icon> Groups
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="'/create'">
        <mat-icon class="sidenav-icon">add</mat-icon> Create
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="'/search'">
        <mat-icon class="sidenav-icon">search</mat-icon> Search
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="'/chat'">
        <mat-icon class="sidenav-icon">chat</mat-icon> Chat
      </a>
      <a
        mat-list-item
        class="sidenav-item"
        [routerLink]="'/notifications'"
        (click)="clearNotificationCount()"
      >
        <span *ngIf="notificationCount === 0">
          <mat-icon class="sidenav-icon"> notifications</mat-icon>Notifications
        </span>
        <span *ngIf="notificationCount !== 0">
          <mat-icon
            class="sidenav-icon"
            matBadge="{{ notificationCount }}"
            matBadgeOverlap="true"
            matBadgeColor="warn"
          >
            notifications</mat-icon
          >Notifications
        </span>
      </a>
      <a mat-list-item class="sidenav-item" [routerLink]="'/account'">
        <mat-icon class="sidenav-icon">person</mat-icon> Account
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
