<div class="search-field-container">
  <mat-form-field class="search-field">
    <mat-label>Search bar</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-tabs-container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="All">
      Groups
    </mat-tab>
    <mat-tab label="Events">
      <div *ngIf="nodata; else elseText">
        <div class="nodata-container">
          <mat-icon class="nodata-icon" [inline]="true">cloud_queue</mat-icon>
          <h1 class="nodata-text">There is currently no events.</h1>
        </div>
      </div>

      <ng-template #elseText>
        <div class="event-cards-container">
          <div *ngFor="let event of events | async">
            <app-event-card [event]="event"></app-event-card>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Groups">
      Projects
    </mat-tab>
    <mat-tab label="Accounts">
      Accounts
    </mat-tab>
  </mat-tab-group>
</div>
