<div class="search-field-container">
  <mat-form-field class="search-field">
    <mat-label>Search bar</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-tabs-container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Events"> </mat-tab>

    <mat-tab label="Groups">
      <div class="groups-container">
        <div class="create-group-grid-container">
          <div class="create-group-grid">
            <h1>Create new group</h1>
            <button mat-fab routerLink="/create-group" color="none">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div *ngFor="let searchableGroup of searchableGroups">
          <div class="group">
            <img
              class="group-picture"
              src="/assets/background/{{ searchableGroup.grouppicture }}.jpg"
            />
            <h1 class="group-name">{{ searchableGroup.name }}</h1>
            <h2 class="group-description">{{ searchableGroup.description }}</h2>
            <div class="join-button-container">
              <div *ngIf="searchableGroup.memberIds.includes(uid)">
                <button
                  mat-raised-button
                  color="accent"
                  (click)="leaveGroup(searchableGroup)"
                >
                  Joining
                </button>
              </div>
              <div *ngIf="!searchableGroup.memberIds.includes(uid)">
                <div *ngIf="searchableGroup.waitingMemberIds.includes(uid)">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="leaveWaitingList(searchableGroup)"
                  >
                    Leave waiting list
                  </button>
                </div>
                <div *ngIf="!searchableGroup.waitingMemberIds.includes(uid)">
                  <div *ngIf="searchableGroup.private">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="joinWaitingList(searchableGroup)"
                    >
                      Join waiting list
                    </button>
                  </div>
                  <div *ngIf="!searchableGroup.private">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="joinGroup(searchableGroup)"
                    >
                      Join
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-details-button-container">
              <button
                mat-icon-button
                color="primary"
                aria-label="group description"
                class="group-details-button"
                [routerLink]="['/group-details']"
                [queryParams]="{ id: searchableGroup.id }"
              >
                <mat-icon>fullscreen</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Accounts">
      Accounts
    </mat-tab>
  </mat-tab-group>
</div>
