<div class="no-chatrooms" *ngIf="noChatRooms">
  <img class="no-chatrooms-image" src="/assets/images/chat.svg" />
  <p class="no-chatrooms-text">You do not have any chat rooms yet.</p>
</div>

<div *ngIf="!noChatRooms">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" class="side-menu" opened>
      <mat-nav-list>
        <div *ngFor="let chatRoom of chatRooms | async">
          <mat-list-item
            class="sidenav-item"
            routerLink="chat-detail"
            [queryParams]="{ id: chatRoom.id }"
            (click)="clearMessageCount(chatRoom.id)"
          >
            <span
              *ngIf="chatRoom.messageCount > 0"
              matBadge="{{ chatRoom.messageCount }}"
              matBadgeOverlap="false"
              >{{ chatRoom.name }}</span
            >
            <span *ngIf="chatRoom.messageCount === 0">{{ chatRoom.name }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
