<div class="chat-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" class="side-menu" opened>
      <mat-nav-list>
        <div *ngFor="let chatRoom of chatRooms | async">
          <mat-list-item
            class="sidenav-item"
            routerLink="chat-detail"
            [queryParams]="{ id: chatRoom.id }"
          >
            {{ chatRoom.name }}
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
