.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-nav-list {
    padding: 0;
  }

  .sidenav-item {
    height: 64px;
  }

  .side-menu {
    width: 450px;
  }
}
