<div class="chat-container">
  <div class="list-container">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="People">
        <mat-list role="list">
          <mat-list-item role="listitem">Bob</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">Peter</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">Jonathan</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-tab>
      <mat-tab label="Events">
        <mat-list role="list">
          <mat-list-item role="listitem">Camping</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">Fishing</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">Driving</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="content-container">
    <div class="messages">
      <div class="message">
        <div class="account"></div>

        <div class="spacer"></div>

        <p class="message-content">this is damy message.</p>

        <div class="flex-spacer"></div>
      </div>
    </div>

    <div class="message-field-container">
      <mat-form-field class="message-field" appearance="standard">
        <input matInput type="text" [(ngModel)]="message" />
        <button mat-button matSuffix mat-icon-button (click)="send()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
