<div class="container">
  <h1>Create your group</h1>

  <div>
    <swiper [config]="config" [(index)]="selectedImageId">
      <div *ngFor="let imageId of imageIds">
        <img alt="group image" src="src/assets/background/{{ imageId }}.jpg" />
      </div>
    </swiper>
  </div>

  <form class="create-group-form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Name your group</mat-label>
      <input matInput formControlName="name" type="email" required />
    </mat-form-field>

    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Write group description</mat-label>
      <input matInput formControlName="description" type="text" />
    </mat-form-field>

    <button
      mat-raised-button
      class="create-button"
      [disabled]="form.invalid || form.pristine"
      color="primary"
    >
      Create
    </button>
  </form>
</div>
