<div class="container">
  <div *ngIf="ifTarget; else new">
    <h1>Update your group</h1>
  </div>
  <ng-template #new>
    <h1>Create your group</h1>
  </ng-template>

  <h3>Choose an image for your group</h3>

  <div class="swiper">
    <swiper [config]="config" [(index)]="selectedImageId">
      <div *ngFor="let imageId of imageIds">
        <img
          class="background-image"
          alt="group image"
          src="/assets/background/{{ imageId }}.jpg"
        />
      </div>
    </swiper>
    <div class="pager"></div>
  </div>

  <form class="create-group-form" [formGroup]="form">
    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Name your group</mat-label>
      <input matInput formControlName="name" type="email" required />
    </mat-form-field>

    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Write group description</mat-label>
      <input matInput formControlName="description" type="text" />
    </mat-form-field>

    <mat-slider
      class="create-group-field"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      step="1000"
      formControlName="price"
      min="0"
      max="50000"
    >
    </mat-slider>

    <mat-slide-toggle class="create-group-field" formControlName="private"
      >Private: {{ form.value.private }}</mat-slide-toggle
    >

    <mat-slide-toggle class="create-group-field" formControlName="searchable"
      >Searchable: {{ form.value.searchable }}</mat-slide-toggle
    >

    <div class="buttons" *ngIf="ifTarget; else create">
      <button
        mat-raised-button
        class="update-button"
        [disabled]="form.invalid"
        color="primary"
        (click)="update()"
      >
        Update
      </button>
      <button
        mat-raised-button
        class="delete-button"
        [disabled]="form.invalid"
        color="warn"
        (click)="delete()"
      >
        Delete
      </button>
    </div>

    <ng-template #create>
      <button
        mat-raised-button
        class="create-button"
        [disabled]="form.invalid || form.pristine"
        color="primary"
        (click)="submit()"
      >
        Create
      </button>
    </ng-template>
  </form>
</div>
