<div class="container">
  <div *ngIf="ifTarget; else new">
    <h1>Update your group</h1>
  </div>
  <ng-template #new>
    <h1>Create your group</h1>
  </ng-template>

  <div class="switchUseMyOwnImage-button-container" *ngIf="useMyOwnImage">
    <button mat-raised-button (click)="switchUseMyOwnImage()" color="primary">
      Choose from templates
    </button>
  </div>

  <div class="switchUseMyOwnImage-button-container" *ngIf="!useMyOwnImage">
    <button mat-raised-button (click)="switchUseMyOwnImage()" color="primary">
      Choose from library
    </button>
  </div>

  <div *ngIf="!useMyOwnImage">
    <div class="swiper">
      <swiper [config]="config" [(index)]="selectedImageId">
        <div *ngFor="let imageId of imageIds">
          <img
            class="background-image"
            alt="group image"
            src="/assets/background/{{ imageId }}.jpg"
          />
        </div>
      </swiper>
      <div class="pager"></div>
    </div>
  </div>

  <div class="select-image-container" *ngIf="useMyOwnImage">
    <input class="image-input" type="file" (change)="fileChangeEvent($event)" />

    <div class="cropper-container" *ngIf="imageChangedEvent">
      <img class="selected-image" [src]="croppedImage" />

      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="8 / 3"
        [roundCropper]="false"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
  </div>

  <form class="create-group-form" [formGroup]="form">
    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Name your group</mat-label>
      <input matInput formControlName="name" type="email" required />
    </mat-form-field>

    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Write group description</mat-label>
      <input matInput formControlName="description" type="text" />
    </mat-form-field>

    <p>Is there a limit for number of members?</p>
    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="ifMemberLimit"
      [ngModelOptions]="{ standalone: true }"
    >
      <mat-radio-button [value]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>

    <mat-form-field
      *ngIf="ifMemberLimit"
      class="create-group-field"
      appearance="outline"
    >
      <mat-label>What is the limit?</mat-label>
      <input
        matInput
        formControlName="memberlimit"
        placeholder="E.g. 0"
        type="number"
      />
    </mat-form-field>

    <p>{{ form.value.price }} {{ form.value.currency }}</p>

    <mat-form-field>
      <mat-label>Choose currency</mat-label>
      <mat-select formControlName="currency">
        <div *ngFor="let currency of currencies">
          <mat-option [value]="currency">{{ currency }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <mat-slider
      class="create-group-field"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      step="500"
      formControlName="price"
      min="0"
      max="50000"
    >
    </mat-slider>

    <mat-slide-toggle class="create-group-field" formControlName="private">
      <div *ngIf="form.value.private">
        Private
      </div>
      <div *ngIf="!form.value.private">
        Public
      </div>
    </mat-slide-toggle>

    <mat-slide-toggle class="create-group-field" formControlName="searchable">
      <div *ngIf="form.value.searchable">
        Searchable
      </div>
      <div *ngIf="!form.value.searchable">
        Unsearchable
      </div>
    </mat-slide-toggle>

    <div class="buttons" *ngIf="ifTarget; else create">
      <button
        mat-raised-button
        class="update-button"
        [disabled]="form.invalid"
        color="primary"
        (click)="update()"
      >
        Update
      </button>
      <button
        mat-raised-button
        class="delete-button"
        [disabled]="form.invalid"
        color="warn"
        (click)="delete()"
      >
        Delete
      </button>
    </div>

    <ng-template #create>
      <button
        mat-raised-button
        class="create-button"
        [disabled]="form.invalid || form.pristine"
        color="primary"
        (click)="submit()"
      >
        Create
      </button>
    </ng-template>
  </form>
</div>
