<mat-toolbar class="toolbar">
  <a class="add-button" [routerLink]="'create-group'">
    <button mat-icon-button color="primary"><mat-icon> add </mat-icon></button>
  </a>

  <button class="select-all-button" mat-flat-button color="primary">
    SELECT ALL
  </button>

  <div *ngFor="let group of groups$ | async">
    <mat-checkbox class="checkbox">{{ group.name }}</mat-checkbox>
  </div>

</mat-toolbar>

<div class="search-field-container">
  <mat-form-field class="search-field">
    <mat-label>Search bar</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div *ngIf="nodata; else elseText">
  <div class="nodata-container">
    <mat-icon class="nodata-icon" [inline]="true">cloud_queue</mat-icon>
    <h1 class="nodata-text">There is currently no events.</h1>
  </div>
</div>

<ng-template #elseText>
  <div *ngFor="let event of events | async">
    <app-event-card [event]="event"></app-event-card>
  </div>
</ng-template>
