<mat-toolbar class="toolbar">
  <a class="add-button" [routerLink]="'create-group'">
    <button mat-icon-button color="primary"><mat-icon> add </mat-icon></button>
  </a>
  <button mat-flat-button color="primary">SELECT ALL</button>
  <!-- chage the color to primary when selected -->
  <mat-chip-list selectable="true">
    <div class="spacer"></div>
    <div *ngFor="let group of groups$ | async">
      <mat-chip>{{ group.name }}</mat-chip>
      <div class="spacer"></div>
    </div>
  </mat-chip-list>
</mat-toolbar>

<div class="search-field-container">
  <mat-form-field class="search-field">
    <mat-label>Search bar</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
<app-event-card [event]="event"></app-event-card>
