<div *ngIf="noGroup; else yesGroup">
  <div class="noGroup-container">
    <mat-icon class="noGroup-icon" [inline]="true">group_add</mat-icon>
    <h1>You do not belong to any group yet.</h1>
    <h1>You can <a routerLink="/search">search</a> for groups</h1>
    <h1>or</h1>
    <h1>You can <a routerLink="/create-group">create</a> one</h1>
  </div>
</div>

<ng-template #yesGroup>
  <div class="container">
    <div *ngIf="ifTarget; else edit">
      <h1>Update event</h1>
    </div>
    <ng-template #edit>
      <h1>Create event</h1>
    </ng-template>

    <form class="create-event-form" [formGroup]="form">
      <mat-form-field class="create-event-field" appearance="outline">
        <mat-label>Which group</mat-label>
        <mat-select formControlName="groupid" required>
          <mat-option
            *ngFor="let group of admingroups$ | async"
            [value]="group.groupid"
          >
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="create-event-field" appearance="outline">
        <mat-label>What is the event title?</mat-label>
        <input
          matInput
          formControlName="title"
          type="text"
          placeholder="E.g. Picnic"
          required
        />
      </mat-form-field>

      <mat-form-field class="create-event-field" appearance="outline">
        <mat-label>Write event description</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="E.g. Bring your water bottle."
          type="text"
        />
      </mat-form-field>

      <mat-form-field class="create-event-field" appearance="outline">
        <mat-label>Is there a limit for number of members?</mat-label>
        <input
          matInput
          formControlName="memberlimit"
          placeholder="E.g. 0"
          type="number"
        />
      </mat-form-field>

      <mat-form-field class="create-event-field" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          formControlName="date"
          [matDatepicker]="picker"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="create-event-field" appearance="outline">
        <mat-label>What time is it happening? (hh:mm)</mat-label>
        <input
          matInput
          formControlName="time"
          type="text"
          placeholder="E.g. 00:00"
          required
        />
      </mat-form-field>

      <mat-form-field class="create-event-field" appearance="outline">
        <mat-label>Where is it happening?</mat-label>
        <input
          matInput
          formControlName="location"
          type="text"
          placeholder="E.g. house"
          required
        />
      </mat-form-field>

      <div class="buttons" *ngIf="ifTarget; else editing">
        <button
          mat-raised-button
          class="update-button"
          [disabled]="form.invalid"
          color="primary"
          (click)="update()"
        >
          Update
        </button>
        <p class="ortext">or</p>
        <button mat-raised-button color="warn" (click)="delete()">
          Delete
        </button>
      </div>

      <ng-template #editing>
        <button
          mat-raised-button
          class="create-button"
          [disabled]="form.invalid || form.pristine"
          color="primary"
          (click)="submit()"
        >
          Create
        </button>
      </ng-template>
    </form>
  </div>
</ng-template>
