.noGroup-container {
  position: relative;
  margin-top: 10%;
  text-align: center;
}

.noGroup-icon {
  font-size: 120px;
}

.container {
  position: relative;
}

h1 {
  text-align: center;
  margin: 50px 0 50px 0;
}

.create-event-form {
  width: 500px;
  height: 700px;
  margin: auto;
  text-align: center;
}

.create-event-field {
  display: block;
}

.create-button {
  margin-top: 30px;
}

.buttons {
  margin-top: 30px;
}

.ortext {
  display: inline-block;
  margin: 0 15px 0 15px;
}
