<div class="container">
  <form class="signin-form" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Welcome to AttendManager!!</h1>

    <h2>Sign up</h2>

    <mat-form-field class="email-field" appearance="outline">
      <mat-label>Enter your Email address</mat-label>
      <input
        matInput
        formControlName="email"
        autocomplete="email"
        placeholder="ex. attendmanager@gmail.com"
        type="email"
        required
      />
    </mat-form-field>

    <mat-form-field class="password-field" appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-raised-button
      class="submit-button"
      (click)="openSnackBar()"
      [disabled]="form.invalid || form.pristine"
      color="primary"
    >
      GO!!
    </button>
  </form>

  <h5>or</h5>

  <p>
    <a [routerLink]="'/welcome'">If you already have an account, sign in</a>
  </p>
</div>
