h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.signin-form {
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.email-field {
  display: block;
}

.password-field {
  display: block;
  margin-bottom: 30px;
}
