<div *ngIf="notificationIds?.length">
  <mat-toolbar class="toolbar">
    <span class="toolbar-title">Notifications</span>
    <span class="spacer"></span>
    <button mat-icon-button class="mat-menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="deleteNotification()">
        <mat-icon>delete_sweep</mat-icon>
        <span>Delete all notifications</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-list
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="additionalSearch()"
  >
    <ng-container *ngFor="let hit of result?.hits">
      <app-notification [notification]="hit"></app-notification>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>

<div class="no-notifications-container" *ngIf="!notificationIds?.length">
  <img class="no-notifications-image" src="/assets/images/notification1.svg" />
  <p class="no-notifications-text">No notifications</p>
</div>
