.search-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 48px;
  border-bottom: solid 0.3px rgb(224, 224, 224);
}

.search-field {
  position: sticky;
  width: 50%;
  margin: 21.5px 0 0 0;
}

.container {
  position: relative;
  height: calc(100% - 388.5px);
}
