<div *ngIf="group">
  <div class="group">
    <img class="group-picture" src="{{ group.grouppicture }}" />
    <h1 class="group-name">{{ group.name }}</h1>
    <h2 class="group-description">{{ group.description }}</h2>
    <div class="join-button-container">
      <div *ngIf="ifMember">
        <button mat-raised-button color="accent" (click)="leaveGroup()">
          Joinning
        </button>
      </div>

      <div *ngIf="!ifMember">
        <div *ngIf="overMemberLimit">
          <button mat-raised-button>
            cannot join due to the limits
          </button>
        </div>

        <div *ngIf="!overMemberLimit">
          <div *ngIf="group.private">
            <div *ngIf="ifWaitingJoinningMember">
              <button
                mat-raised-button
                color="warn"
                (click)="leaveWaitingList()"
              >
                Leave waiting list
              </button>
            </div>

            <div *ngIf="!ifWaitingJoinningMember">
              <div *ngIf="ifWaitingPayingMember">
                <button
                  mat-raised-button
                  class="pay-button"
                  color="primary"
                  (click)="waitingPayinglistToMember()"
                >
                  Pay {{ group.price }} to join
                </button>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="removeWaitingPayingMember()"
                >
                  Cancel
                </button>
              </div>

              <div *ngIf="!ifWaitingPayingMember">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="joinWaitingJoinningList()"
                >
                  Join waiting list
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!group.private || invited">
          <div *ngIf="group.price === 0 && invited">
            <button
              mat-raised-button
              color="primary"
              (click)="PayToInvitingUserListToMembers()"
            >
              Join
            </button>
          </div>
          <div *ngIf="group.price === 0 && !invited">
            <button mat-raised-button color="primary" (click)="joinGroup()">
              Join
            </button>
          </div>
          <div *ngIf="group.price !== 0 && !invited">
            <button
              mat-raised-button
              color="primary"
              (click)="payToJoinGroup()"
            >
              Pay {{ group.price }} to join
            </button>
          </div>
          <div *ngIf="group.price !== 0 && invited">
            <button
              mat-raised-button
              color="primary"
              (click)="invitingUserListToMembers()"
            >
              Pay {{ group.price }} to join
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="group-details-button-container">
      <button
        mat-icon-button
        color="primary"
        aria-label="group description"
        class="group-details-button"
        [routerLink]="['/group-details']"
        [queryParams]="{ id: group.id }"
      >
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
  </div>
</div>
