<div class="container">
  <h1>Create your group</h1>

  <form class="create-group-form" [formGroup] = "form" (ngSubmit)="submit()">
    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Name your group</mat-label>
      <input matInput formControlName="name" type="email" required>
    </mat-form-field>

    <mat-form-field class="create-group-field" appearance="outline">
      <mat-label>Write group description</mat-label>
      <input matInput formControlName="description" type = "text">
    </mat-form-field>

    <button mat-raised-button class="create-button" (click)="openSnackBar()" [disabled]="form.invalid || form.pristine" color = "primary">Create!!</button>
  </form>
</div>

